<div class="row">
  <div class="col-12">
    <div id="nearby_chat_config" target="<%= @to_id %>"></div>
    <p id="room-name">Chat with <%= @to %></p>
    
      <div class="col-xs-12">
        <ul id='nearby-msg-list' style='list-style: none; min-height:200px; padding: 10px;'></ul>
        <input type="text" id="nearby_msg" class="form-control" placeholder="Your Message">
      </div>
    </div>
  </div>
</div>
